@model PepPanel.Application.DTOs.EventDTO

<div class="card">
    <div class="card-header">
        <h4>Editar Evento</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div class="row form-group">
                        <div class="col-md-12 form-control-sm">
                            <label asp-for="Description" class="col-md-4 control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 form-control-sm">
                            <label asp-for="EventDateTime" class="col-md-4 control-label"></label>
                            <input asp-for="EventDateTime" class="form-control" />
                            <span asp-validation-for="EventDateTime" class="text-danger"></span>
                        </div>
                        <div class="col-md-8 form-control-sm">
                            <label asp-for="Responsible" class="col-md-4 control-label"></label>
                            <input asp-for="Responsible" class="form-control" />
                            <span asp-validation-for="Responsible" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary btn-sm" />
                        <a asp-action="Index" class="btn btn-outline-dark btn-sm">Voltar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


